uvicorn[standard]
fastapi
requests
pymongo
pytest
flake8
black
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pyjwt
itsdangerous
h11==0.12.0
pymongo[srv]
fastapi-jwt-auth
deepdiff
python-multipart
beautifulsoup4
mock
pytest-cov